/* CSS for AddAppointment */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="date"],
textarea {
  width: 300px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.familyMembers {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #1AA7EC;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  margin-top: 25px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  form {
    margin-top: 150px;
  }
}
